doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Chat Room
        link(rel='stylesheet' href='/stylesheets/chat.css')
    body
        block content
            .chat-container
                .top-bar
                    h2 FSE Chat Room
                    button#logout-button(type="button") Logout 
                .chat-messages
                    .chat-message
                        .user-time 
                            h3 Username
                            span Time
                        p.message-text Sample chat message
                .chat-input
                    textarea#message(placeholder="Type your message...", rows="8")
                    
                .bottom-bar 
                    button#post-button(type="button") Post
        
