doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/jquery-3.7.0.min.js") 
    body
        block content
        script(src="/javascripts/index.js") 
        