* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-container {
  text-align: center;
  margin: 0 auto;
  width: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column; /* 将子元素垂直排列 */
  align-items: center; /* 水平居中 */
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 18%;
  text-align: center;
}

form.login-form {
  display: inline-block;
  text-align: left;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
}

button {
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
  font-weight: bold;
  font-size: 18px;
}

.login-button {
  background-color: #5ca5f1;
  color: black;
}

.register-button {
  background-color: #5ca5f1;
  color: black;
}

form.register-form {
  display: inline-block;
  text-align: left;
  width: 100%;
}

